body{
    background-image: url(https://scontent.froo3-1.fna.fbcdn.net/v/t1.18169-9/13886266_1225525630812704_2184456600190790924_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEzjNeZ87E47QBq7tfQZEH5ZF-sV6_BNrBkX6xXr8E2sFhncM8ZdfzGtujNqfduYSY&_nc_ohc=3WZ0_ScAV8YAX-7_hyi&_nc_ht=scontent.froo3-1.fna&oh=00_AT-ixczyhaZRkgyysX6ClsRCpbDqSbQzwMBQR6X0wAYajg&oe=637AB14F);
    background-repeat: no-repeat;
    background-size: center;
    background-attachment: fixed;
  }